---
import Layout from "@/layouts/Layout.astro";
import Label from "@/components/Label.astro";
---

<Layout title="Empresa | Cotizar">
  <div class="h-screen flex items-center justify-center p-2">
    <div
      class="max-w-4xl mx-auto p-8 bg-slate-100 dark:bg-gray-800 shadow-lg rounded-lg"
    >
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">COTIZADOR</h1>
      </div>

      <div class="grid sm:grid-cols-2 gap-4 mb-4">
        <div>
          <Label>¿DÓNDE TE ENCUENTRAS?</Label>
          <select
            class="block w-full border border-zinc-300 rounded py-2 px-3 mb-3 text-gray-500 dark:text-gray-40"
          >
            <option>Departamento</option>
          </select>
          <select
            class="block w-full border border-zinc-300 rounded py-2 px-3 text-gray-500 dark:text-gray-40"
          >
            <option>Provincia</option>
          </select>
        </div>
        <div>
          <Label>¿A DÓNDE LO LLEVAMOS?</Label>
          <select
            class="block w-full border border-zinc-300 rounded py-2 px-3 mb-3 text-gray-500 dark:text-gray-40"
          >
            <option>Departamento</option>
          </select>
          <select
            class="block w-full border border-zinc-300 rounded py-2 px-3 text-gray-500 dark:text-gray-40"
          >
            <option>Distrito</option>
          </select>
        </div>
      </div>

      <div class="col-span-2">
        <Label>¿CUÁNTO PESA?</Label>
        <div class="flex items-center">
          <input
            type="text"
            class="block w-20 border border-zinc-300 rounded py-2 px-3 mr-3 text-gray-500 dark:text-gray-40"
            value="1"
          />
          <span
            class="block w-44 text-gray-500 dark:text-gray-50/50"
          >
            Kilogramos (kg)
          </span>
        </div>
      </div>

      <div class="mt-6 sm:flex justify-between items-center">
        <div class="flex items-center">
          <h2 class="text-lg font-bold mr-2">Precio estimado:</h2>
          <span class="text-2xl font-bold">S/ 0.00</span>
        </div>
        <button
          class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 mt-2 rounded"
        >
          COTIZAR
        </button>
      </div>

      <p class="text-gray-900/70 dark:text-gray-50/50 text-sm mt-4">
        Las tarifas son referenciales. Las tarifas incluyen IGV. Precios válidos
        solo para el Servicio Regular de Lima a Provincias y de Lima a Lima.
      </p>
    </div>
  </div>
</Layout>
