---
import Layout from "../layouts/Layout.astro";
import Label from "../components/Label.astro";
import Input from "../components/Input.astro";
---

<Layout title="Cobox | Cotizar">
  <div class="w-full min-h-screen py-24">
    <div class="w-full flex justify-center items-center">
      <form class="w-[80rem] lg:flex gap-x-4">
        <div class="w-full mb-8 px-4">
          <Label for="origin-address">Origen</Label>
          <div>
            <Input placeholder="Origen" />
          </div>
        </div>
        <div class="w-full mb-8 px-4">
          <Label for="destiny-address">Destino</Label>
          <div>
            <Input placeholder="Destino" />
          </div>
        </div>
        <div class="w-full mb-8 px-4">
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Selecciona tamaño del pedido</label
          >
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
            focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option>United States</option>
            <option>Canada</option>
            <option>France</option>
            <option>Germany</option>
          </select>
        </div>
      </form>
    </div>
    <div class="flex justify-center mt-1 px-4">
      <img src="https://placehold.co/1500x600" alt="" class="rounded-lg" />
    </div>
  </div>
</Layout>
