---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Section from "@/components/Section.astro";
import InfoCards from "@/components/InfoCards.astro";
import LinearChart from "@/components/LinearChart.astro";
import Top from "@/components/Top.astro";
import DonutChart from "@/components/DonutChart.astro";
import BarChart from "@/components/BarChart.astro";
import Transaction from "@/components/Transaction.astro";
---

<Layout title="Empresa | Dashboard">
  <Container>
    <Section class="flex-col p-4">
      <div class="grid xl:grid-cols-4 sm:grid-cols-2 gap-4">
        <InfoCards />
      </div>

      <section class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
        <LinearChart />
        <Top />
        <DonutChart />
        <BarChart />
      </section>

      <Transaction />
    </Section>
  </Container>
</Layout>

<script>
  import "@/modules/dashboard";
</script>
