---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Section from "@/components/Section.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Bienvenido a Empresa ">
  <Container>
    <Section class="p-4 flex-wrap">
      <Card
        href="https://portfolio-grs.vercel.app/"
        scr="https://placehold.co/600x400"
        title="Noteworthy technology acquisitions 2021"
        body="Here are the biggest enterprise technology acquisitions of 2021 sofar, in reverse chronological order."
      />

      <Card
        href="#"
        scr="https://placehold.co/600x400"
        title="Nuevo card"
        body="Soy uno card limpio"
      />
    </Section>
  </Container>
</Layout>
