---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Label from "@/components/Label.astro";
import Section from "@/components/Section.astro";
---

<Layout title="Empresa | Perfil">
  <Container>
    <Section class="p-4">
      <div
        class="bg-slate-100 dark:bg-gray-800 text-white p-8 md:w-[80%] mx-auto rounded-2xl"
      >
        <div class="flex items-center space-x-4 mb-6">
          <span class="text-2xl">👨🏼‍💻</span>
          <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
            Perfil - Detalles
          </h1>
        </div>
        <div class="flex items-center space-x-4 mb-6">
          <div
            class="w-24 h-24 rounded-full overflow-hidden border-2 border-zinc-700"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
              alt="Profile picture"
            />
          </div>
          <button class="text-red-500 hover:text-red-400">Remove</button>
        </div>
        <div class="space-y-6">
          <div>
            <Label>Nombres</Label>
            <input
              type="text"
              value="Nombre"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            />
          </div>
          <div>
            <Label
              class="block text-sm font-medium mb-1 text-gray-900 dark:text-white"
              >Correo Electronico</Label
            >
            <input
              type="email"
              value="correo@mail.com"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white cursor-no-drop color"
              disabled
            />
            <p class="text-xs text-gray-900/70 dark:text-gray-50/50 mt-1">
              Póngase en contacto con nosotros para cambiar su dirección de
              correo electrónico
            </p>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <Label>País</Label>
              <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              >
                <option>Perú</option>
              </select>
            </div>
            <div>
              <Label>Celular</Label>
              <input
                type="tel"
                value="999 999 999"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              />
            </div>
          </div>
          <div>
            <Label>Comercio</Label>
            <input
              type="text"
              placeholder="Envios Fast"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            />
          </div>
          <div>
            <Label>Biografía (opcional)</Label>
            <textarea
              placeholder="Descríbete..."
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            ></textarea>
            <p class="text-xs text-gray-900/70 dark:text-gray-50/50 mt-1">
              0/200 characters
            </p>
          </div>
        </div>
        <div class="flex justify-end space-x-4 mt-6">
          <button
            class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700"
            >Guardar Cambios</button
          >
        </div>
      </div>
    </Section>
  </Container>
</Layout>
