---
import DashboardIcon from "@/icons/Dashboard.astro";
import UsersIcon from "@/icons/Users.astro";
import CargaMasivaIcon from "@/icons/Cargamasiva.astro";
import OrdenesIcon from "@/icons/Ordenes.astro";
import MotobikerIcon from "@/icons/Motobiker.astro";
import FormularioIcon from "@/icons/Formulario.astro";

const { pathname } = Astro.url;
const normalizedPathName =
  pathname.length > 1 && pathname.endsWith("/")
    ? pathname.slice(0, -1)
    : pathname;

const Pages = [
  {
    name: "Dashboard",
    href: "/dashboard",
    icon: DashboardIcon,
    active: normalizedPathName.startsWith("/dashboard"),
  },
  {
    name: "Usuarios",
    href: "/user",
    icon: UsersIcon,
  },
  {
    name: "Carga Masiva",
    href: "/cargaMasiva",
    icon: CargaMasivaIcon,
  },
  {
    name: "Ordenes",
    href: "/ordenes",
    icon: OrdenesIcon,
  },
  {
    name: "Logistica",
    href: "/logistica",
    icon: MotobikerIcon,
  },
  {
    name: "Cotizador",
    href: "/cotizar",
    icon: FormularioIcon,
  },
].map((page) => ({
  ...page,
  active: page.active ?? normalizedPathName === page.href,
}));
---

{
  Pages.map(({ name, active, href, icon: Icon }, key) => (
    <li>
      <a
        href={href}
        class:list={[
          "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group",
          { "bg-gray-500 bg-opacity-40": active },
        ]}
        id={`nav-link-${key}`}
      >
        <Icon class="text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white size-5" />
        <span class="text-sm ms-2">{name}</span>
      </a>
    </li>
  ))
}
