---
import AhorroIcon from "@/icons/Ahorro.astro";
import CheckIcon from "@/icons/Check.astro";
---

<!-- Cards -->
<div
  class="flex justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div>
    <div
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      1,042
    </div>
    <div class="font-normal text-gray-700 dark:text-gray-400">
      Total de pedidos atendidos
    </div>
  </div>
  <div class="iconBox">
    <CheckIcon class="text-green-400 size-8" />
  </div>
</div>

<div
  class="flex justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div>
    <div
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      S/ 82
    </div>
    <div class="font-normal text-gray-700 dark:text-gray-400">Ahorros</div>
  </div>
  <div class="iconBox">
    <AhorroIcon class="text-yellow-400 size-8" />
  </div>
</div>

<div
  class="flex justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div>
    <div
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      208
    </div>
    <div class="font-normal text-gray-700 dark:text-gray-400">
      Cantidad de emisiones de CO2 ahorrados
    </div>
  </div>
  <div class="iconBox">
    <ion-icon name="chatbubble"></ion-icon>
  </div>
</div>

<div
  class="flex justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div>
    <div
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      S/ 6,042
    </div>
    <div class="font-normal text-gray-700 dark:text-gray-400">
      Saldo pendientes
    </div>
  </div>
  <div class="iconBox">
    <ion-icon name="logo-usd"></ion-icon>
  </div>
</div>
