---
import Label from "./Label.astro";
---

<div
  class="w-full max-w-sm p-4 bg-slate-100 border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form class="space-y-6" action="#">
    <h5 class="text-3xl font-medium text-gray-900 dark:text-white">
      Inicar Sesi칩n
    </h5>
    <div>
      <Label for="email">Correo</Label>
      <input
        type="email"
        name="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
      />
    </div>
    <div>
      <Label for="password">Contrase침a</Label>
      <input
        type="password"
        name="password"
        id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
      />
    </div>
    <div class="flex items-start">
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input
            id="remember"
            type="checkbox"
            value=""
            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          />
        </div>
        <label
          for="remember"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Recuerdame</label
        >
      </div>
      <a
        href="#"
        class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
        >Olvido su contrase침a?</a
      >
    </div>
    <button
      type="submit"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700"
      >Inicar Sesi칩n</button
    >
    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
      Aun no estas registrado? <a
        href="#"
        class="text-blue-700 hover:underline dark:text-blue-500">Crear cuenta</a
      >
    </div>
  </form>
</div>
