---
import SignOutIcon from "@/icons/Signout.astro";
import AsideItem from "./AsideItem.astro";
---

<aside
  id="sidebar"
  class="fixed top-0 left-0 z-40 w-52 h-screen pt-20 transition-transform -translate-x-full bg-slate-100 border-r border-gray-200 lg:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-slate-100 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <p class="text-sm text-gray-900/70 dark:text-gray-50/50">
        Administración
      </p>
      <AsideItem />

      <li>
        <button
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
          aria-controls="dropdown-layouts"
          data-collapse-toggle="dropdown-layouts"
          aria-expanded="false"
        >
          <svg
            class="flex-shrink-0 size-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"
            ></path>
          </svg>

          <span class="flex-1 text-sm ml-3 text-left whitespace-nowrap"
            >Dropdown Page</span
          >

          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </button>
        <ul id="dropdown-layouts" class="hidden py-2 space-y-2">
          <li class="animate-fade-in-down animate-duration-200">
            <a
              href="#"
              class="flex text-sm items-center p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
              >Dropdown 1</a
            >
          </li>
          <li class="animate-fade-in-down animate-duration-250">
            <a
              href="#"
              class="flex items-center p-2 text-sm text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
              >Dropdown 2</a
            >
          </li>
        </ul>
      </li>

      <a
        href="/login"
        class="flex items-center p-2 absolute bottom-0 text-gray-900 rounded-lg dark:text-white group"
      >
        <SignOutIcon
          class="text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        />
        <span class="ms-3">Cerrar Sesión</span>
      </a>
    </ul>
  </div>
</aside>

<div
  class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90"
  id="sidebarBackdrop"
>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const sidebar = document.getElementById("sidebar");

    if (sidebar) {
      const toggleSidebarMobile = (
        sidebar: HTMLElement,
        sidebarBackdrop: HTMLElement,
        toggleSidebarMobileHamburger: HTMLElement,
        toggleSidebarMobileClose: HTMLElement
      ) => {
        sidebar.classList.toggle("-translate-x-full");
        sidebarBackdrop.classList.toggle("hidden");
        toggleSidebarMobileHamburger.classList.toggle("hidden");
        toggleSidebarMobileClose.classList.toggle("hidden");
      };

      const toggleSidebarMobileEl = document.getElementById(
        "toggleSidebarMobile"
      );
      const sidebarBackdrop = document.getElementById("sidebarBackdrop")!;

      const toggleSidebarMobileHamburger = document.getElementById(
        "toggleSidebarMobileHamburger"
      )!;
      const toggleSidebarMobileClose = document.getElementById(
        "toggleSidebarMobileClose"
      )!;

      toggleSidebarMobileEl?.addEventListener("click", () => {
        toggleSidebarMobile(
          sidebar,
          sidebarBackdrop,
          toggleSidebarMobileHamburger,
          toggleSidebarMobileClose
        );
      });

      sidebarBackdrop?.addEventListener("click", () => {
        toggleSidebarMobile(
          sidebar,
          sidebarBackdrop,
          toggleSidebarMobileHamburger,
          toggleSidebarMobileClose
        );
      });
    }
  });
</script>
