---
import Moon from "../icons/Moon.astro";
import Sun from "../icons/Sun.astro";
---

<button
  id="theme-toggle"
  data-tooltip-target="tooltip-toggle"
  type="button"
  class="text-gray-500 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5"
>
  <Moon id="theme-toggle-dark-icon" class="hidden w-5 h-5" />

  <Sun id="theme-toggle-light-icon" class="hidden w-5 h-5" />
</button>
<div
  id="tooltip-toggle"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip"
>
  Toggle dark mode
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const themeToggleDarkIcon = document.getElementById(
      "theme-toggle-dark-icon"
    );
    const themeToggleLightIcon = document.getElementById(
      "theme-toggle-light-icon"
    );

    if (
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      themeToggleLightIcon?.classList.remove("hidden");
    } else {
      themeToggleDarkIcon?.classList.remove("hidden");
    }

    const themeToggleBtn = document.getElementById("theme-toggle");

    let event = new Event("dark-mode");

    themeToggleBtn?.addEventListener("click", function () {
      themeToggleDarkIcon?.classList.toggle("hidden");
      themeToggleLightIcon?.classList.toggle("hidden");

      if (localStorage.getItem("color-theme")) {
        if (localStorage.getItem("color-theme") === "light") {
          document.documentElement.classList.add("dark");
          localStorage.setItem("color-theme", "dark");
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("color-theme", "light");
        }
      } else {
        if (document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("color-theme", "light");
        } else {
          document.documentElement.classList.add("dark");
          localStorage.setItem("color-theme", "dark");
        }
      }

      document.dispatchEvent(event);
    });
  });
</script>
